* {
    margin: 0;
    padding: 1;
}

main {
    margin: 35px;
}

header {
    border: 2px solid #000;
    background: blueviolet;
    font-size: 1.5em;
    padding: 15px;
    margin: 2%;
    color: white;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    margin: 2px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#opening {
    display: flex;
    margin: 10px 20px 0px 20px;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 20%;

    margin-top: 10px;
    flex-direction: row;
    align-items: flex-end;
}

#headTitle {
    color: white;
}

p {
    font-weight: bolder;
    font-size: 1.5em;
    color: blueviolet;
}

span {
    font-weight: bold;
    font-size: 1.7em;
    background: #000;
    color: #c6c6c6;
}

h1 {
    display: block;
    color: rgb(87, 38, 185);
    text-align: center;
    font-size: 2em;
}

h2 {
    color: blueviolet;
    letter-spacing: -3px;
    font-weight: bolder;
    text-align: center;
    font-size: 2em;

    margin: 45px 0px 0px 0px;
}

#redAlert {
    display: block;
    width: 16%;
    color: blueviolet;
    font-size: 2.0em;
}

hr {
    border: 2px solid rgb(87, 38, 185);
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}

legend {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5em;
    font-weight: bolder;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border: 2px solid #000;
    padding: 5px;
}

button:hover {
    background: white;
    color: blueviolet;
    transition: all .5s;
    cursor: pointer;

}

#containerResults {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.resultados {
    border: 2px solid black;
    width: 500px;
    height: 200px;
    margin: 20px;
    clear: both;
}

/* Modal */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(109, 7, 243, 0.5);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    z-index: 999

}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background: #F0F2F5;
    padding: 2.4rem;
    border: 2px solid black;
    position: relative;
    z-index: 1;

}


.div-modal {
    border: 2px solid black;
    margin: 10px 15px 10px 15px;
    padding: 30px;
    background: blueviolet;
}

#form h2 {
    position: relative;
    display: block;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    bottom: 70px;
    border: 2px solid rgb(87, 38, 185);
}

.div-modal h3 {
    color: white;
    margin-bottom: 10px;
}

.div-modal input {
    font-weight: bolder;
    font-size: 15px;
}


.cancel {
    color: blueviolet;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.cancel:hover {
    color: rgb(87, 38, 185);
}

/* Fim do Modal */

footer {
    background: blueviolet;
    border: 2px solid #000;
    padding: 10px;
    margin: 2%;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    color: white;
}